body {
  background: peachpuff;
}
* {
  border: 3px solid cornflowerblue;
  box-sizing: border-box;
}
.container {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: stretch;
}
header {
  width: 100%;
  height: 10em;
  margin-bottom: 1em;
}
header:hover {
  background-color: lightseagreen;
  border-color: royalblue;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 85vh;
}
aside {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}
aside:hover {
  background-color: royalblue;
  border-color: royalblue;
}

aside > div {
  width: 22%;
  background: palevioletred;
  margin: 2vw;
}
aside > div:hover {
  background-color: lightseagreen;
  border-color: royalblue;
}
main {
  flex-grow: 4;
}
main:hover {
  background-color: lightseagreen;
  border-color: royalblue;
}
@media (min-width: 600px) {
  .wrapper {
    flex-direction: row;
  }
  aside {
    width: 80%;
    flex: 4;
    align-items: center;
    margin-right: 1em;
  }
  aside > div {
    height: 10em;
  }

  main {
    flex: 2;
  }
}